<form action="/cars" method="post">
<label for="carmodel">Add a Car Model</label>
<input id="carmodel" name="carmodel" type="text">
<label for="year">Add a year</label>
<input id="year" name="year" type="text">
<label for="price">Name your price</label>
<input id="price" name="price" type="text">
<button type="submit">Submit</button>
</form>
